<div class="footer">
    <div class="container">
        <div class="copy-right">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="lead">&copy;2020 All Rights Reserved By Abdin</p>
                    <p class="lead design-by">Designed By Abdelhamed</p>
                </div>
                <div class="col-md-12">
                    <ul class="list-unstyled footer-link">
                        <div class="text-center">
                            <ul class="list-unstyled">
                                <h3>Products</h3>
                                <li><a href="{% url 'index:api-access' %}">Developers</a></li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>