{% extends 'base.html' %}
{% block title %} Success Message {% endblock %}

{% block body %}
        <div class="password-change-done">
            <div class="container">
                <h1 class="text-primary"> The Password Has Been sent </h1>
                <p class="lead"> Check your email and following the rest of record until you can go back your own email. </p>
                <p class="lead"> You need to follow the instructions to get what you want. </p>
            </div>
        </div>
{% endblock %}