{% extends 'base.html' %}
{% block title %} Change your Passowrd {% endblock %}

{% block body %}
    {% if not user.is_authenticated %}
    {% if messages %}
        <div class="container alert">
            {% for message in messages %}
            <div class="container">
                <div class="alert text-center text-danger alert-danger">{{ message }}</div>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    <div class="password-change">
        <div class="container">
        <h2 class="text-center">Receive your password on your own Email address you will type right now! </h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="exampleInputEmail1">{{ field.label_tag }}</label>
                    <p>{{ field }}</p>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <button type="submit" class="btn btn-primary btn-lg">Send</button>
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}