{% extends 'base.html' %}
{% block title %} Reset your new password {% endblock %}

{% block body %}
    {% if not user.is_authenticated %}
    <div class="password-reset-confirm">
        <div class="container">
        <h2 class="text-center">Make a change for your password</h2>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="exampleInputEmail1">{{ field.label_tag }}</label>
                    <p>{{ field }}</p>
                </div>
                {% endfor %}
            <button type="submit" class="btn btn-primary btn-lg">Change Password</button>
            </form>
        </div>
    </div>
    {% endif %}

{% endblock %}