{% extends 'base.html' %}
{% block title %} Asking your question {% endblock %}

{% block body %}
    <div class="ask-question">
        <div class="container">
            <h3>Ask a public question</h3>
            <div class="wall">
                <form method="post">
                    <div class="form-group">
                        {% csrf_token %}
                        {% for field in form %}
                            <label>{{ field.label }}*</label>
                            <p>{{ field }}</p>
                            <p>{{ field.help_text }}</p>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">Set Question</button>
                </form>
            </div>
        </div>
    </div>

    {% include 'base_footer.html' %}

{% endblock %}
